@import 'variables';
@import 'mixins';
// Override bulma overrides
@import './bulma-overrides';

html, body {
  height: 100%;
  background-color: #0079bf;
}

body {
  font-size: $base-font-size;
}

.title.is-6 {
  font-weight: bold;
  color: $magenta;
}

.centered {
  @include centered;
}

.button.is-large {
  border-color: $magenta-dark;
}
