// Colors
$magenta: #C41065;
$magenta-dark: #A00053;
$white: #FFFFFF;
$light-black: #262626;
$text-color:#383838;
$body-color:#fafafa;
$secondary-text: #8A9596;
$nav-color: #EEEEEE;
$box-shadow: -3px 8px 16px rgba(0,0,0,.175);
$light-gray: #f5f5f5;

// Font sizes
$small-font-size: 15px;
$base-font-size: 18px;

// Header
$header-height:25px;
$header-bar-height: 82px;

//view
$border-padding: 25px;
$padding: 30px;

//Shared
$top-border-height:5px;
$side-padding:20px;
$telekom-radius: 4px;
